/*.slider {
    position: relative;   
    margin-top: 150px;
    width: 80%;
    height: 500px;   
    box-sizing: border-box;
    display: flex;
    align-items: center; 
    overflow: hidden;
}

.slider-img {
    position: absolute;
    width: 100%;
    height: 500px;
    transition: all 0.2s;
}

.slider-img-prev {
    transform: translateX(-100%);
}

.slider-img-next {
    transform: translateX(100%);
}

.imgText{
    color: wheat;
}*/

.sliderBlock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    margin-top:150px ;
    width: 1550px;
    height: 420px;
}

.textItem{
    color: white;
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    width: 300px;
}

.elemItem{
    background-color: #DB3138;
    height: 70px;
    width: 366px;
    position: relative;    
    margin: auto;
    margin-top: -50px;
    
}