.achievBlock{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1296px;
    max-height: 745px;
    margin-top: 150px;
    color: #ffff;
}

.tableBlock{
   /* display: flex;
    justify-content: space-between;
    flex-direction: column;*/

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}
.achievTable{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tableElemnt{
    border: 1px solid #898989;
    padding: 25px 21px 35px 20px;
}
.n1{
    margin-bottom: 30px;
}

.n2{
    margin-top: 30px;
}

.achievText{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;   
}